
.numberTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 28px;
    width: 23px;
    color: #545A89;
    text-align: center;
}

.lessonLine {
    display: flex;
    font-size: 20px;
    height: 50px;
    color: #545A89;
}

.idTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.nameTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 33px;
}

.mailTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 388px;
}

.phoneTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 350px;
}

.professionTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 217px;
}

.addTeach {
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    color: #545A89;
    font-size: 36px;
}

.addBtn {
    margin-left: 10px;
    margin-top: 3px;
}